* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #222;
  font-family: 'Pretendard', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0 80px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  z-index: 1000;
}

nav {
  display: flex;
  gap: 70px;
}

nav a {
  font-size: 18px;
}

nav a.active {
  color: #ae7fd5;
  font-weight: 700;
}

.vertical-text {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 10px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}

.project-page {
  width: 1400px;
  margin: 0 auto;
  padding: 120px 100px;
}

.project-title {
  margin-bottom: 60px;
}

.project-title h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.project-title p {
  font-size: 24px;
  color: #666;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-card {
  display: flex;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s ease;
  background: #fff;
  height: 390px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
}

.card-image {
  width: 430px;
  flex-shrink: 0;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  flex: 1;
  padding: 40px 50px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.card-info h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.4;
}

.tags {
  margin-top: 35px;

  display: flex;
  gap: 35px;

  font-size: 24px;
  color: #666;
}

.arrow {
  margin-top: auto;
  align-self: flex-end;

  width: 65px;
  height: 65px;
  border-radius: 50%;

  background: #ededed;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  color: #999;
}

@media (max-width: 1200px) {
  .vertical-text {
    display: none;
  }

  .project-page {
    width: 100%;
    padding: 120px 30px;
  }

  .project-card {
    flex-direction: column;
  }

  .card-image {
    width: 100%;
  }

  .card-info {
    padding: 30px;
  }

  .card-info h2 {
    font-size: 28px;
  }

  .tags {
    font-size: 18px;
    gap: 20px;
    flex-wrap: wrap;
  }

  .arrow {
    width: 55px;
    height: 55px;
    font-size: 26px;
  }
}
